.c-section {
    @include crearPadding();
    @media (max-width: 500px) {@include crearPaddingMovil();}
    font-family: $font;

    &__title {
        font-size: 45px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 45px;
    }

    &--dark {
        background-color: $footer;
    }

    &--light {
        
    }
    
}