.c-section {
    @include crearPadding();

    font-family: $font;

    &__title {
        font-size: 45px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 45px;
    }

    &--dark {
        background-color: black;
    }

    &--light {
        
    }
    
}