$paddingSizes : ("none": 0, "xss": 2, "xs": 5, "s": 10, "m": 15, "l" : 20, "xl" : 30, "xxl" : 50);
$marginSizes : ("none": 0, "xss": 2, "xs": 5, "s": 10, "m": 15, "l" : 20, "xl" : 30, "xxl" : 50);

@mixin crearPadding(){
    @each $sizeName, $sizeValue in $paddingSizes {
        &--padding-bottom-#{$sizeName} {
            padding-bottom: $sizeValue#{'px'};
        }
    
        &--padding-top-#{$sizeName} {
            padding-top: $sizeValue#{'px'};
        }
    
        &--padding-right-#{$sizeName} {
            padding-right: $sizeValue#{'%'};
        }
    
        &--padding-left-#{$sizeName} {
            padding-left: $sizeValue#{'%'};
        }
    
        &--padding-vertical-#{$sizeName} {
            padding-top: $sizeValue#{'px'};
            padding-bottom: $sizeValue#{'px'};
        }
    
        &--padding-horizontal-#{$sizeName} {
            padding-left: $sizeValue#{'%'};
            padding-right: $sizeValue#{'%'};
        }
    
        &--padding-#{$sizeName} {
            padding-top: $sizeValue#{'px'};
            padding-bottom: $sizeValue#{'px'};
            padding-left: $sizeValue#{'%'};
            padding-right: $sizeValue#{'%'};
        }

    }
}

@mixin crearPaddingMovil(){
    @each $sizeName, $sizeValue in $paddingSizes {
        &--padding-bottom-#{$sizeName}\@movil {
            padding-bottom: $sizeValue#{'px'};
        }
    
        &--padding-top-#{$sizeName}\@movil {
            padding-top: $sizeValue#{'px'};
        }
    
        &--padding-right-#{$sizeName}\@movil {
            padding-right: $sizeValue#{'%'};
        }
    
        &--padding-left-#{$sizeName}\@movil {
            padding-left: $sizeValue#{'%'};
        }
    
        &--padding-vertical-#{$sizeName}\@movil {
            padding-top: $sizeValue#{'px'};
            padding-bottom: $sizeValue#{'px'};
        }
    
        &--padding-horizontal-#{$sizeName}\@movil {
            padding-left: $sizeValue#{'%'};
            padding-right: $sizeValue#{'%'};
        }
    
        &--padding-#{$sizeName}\@movil {
            padding-top: $sizeValue#{'px'};
            padding-bottom: $sizeValue#{'px'};
            padding-left: $sizeValue#{'%'};
            padding-right: $sizeValue#{'%'};
        }
    }
}

@mixin crearMargin(){

    @each $sizeName, $sizeValue in $marginSizes {


        &--margin-right-#{$sizeName}{
            margin-right: $sizeValue#{'%'};
        }
        &--margin-left-#{$sizeName}{
            margin-left: $sizeValue#{'%'};
        }

        &--margin-top-#{$sizeName}{
            margin-top: $sizeValue#{'px'};
        }
        &--margin-bottom-#{$sizeName}{
            margin-bottom: $sizeValue#{'px'};
        }

        &--margin-horizontal-#{$sizeName}{
            margin-right: $sizeValue#{'%'};
            margin-left: $sizeValue#{'%'};
        }

        &--margin-vertical-#{$sizeName}{
            margin-top: $sizeValue#{'px'};
            margin-bottom: $sizeValue#{'px'};
        }

        &--margin-#{$sizeName}{
            margin-right: $sizeValue#{'%'};
            margin-left: $sizeValue#{'%'};
            margin-top: $sizeValue#{'px'};
            margin-bottom: $sizeValue#{'px'};
        }

    }
}

@mixin crearMarginMovil(){

    @each $sizeName, $sizeValue in $marginSizes {


        &--margin-right-#{$sizeName}\@movil{
            margin-right: $sizeValue#{'%'};
        }
        &--margin-left-#{$sizeName}\@movil{
            margin-left: $sizeValue#{'%'};
        }

        &--margin-top-#{$sizeName}\@movil{
            margin-top: $sizeValue#{'px'};
        }
        &--margin-bottom-#{$sizeName}\@movil{
            margin-bottom: $sizeValue#{'px'};
        }

        &--margin-horizontal-#{$sizeName}\@movil{
            margin-right: $sizeValue#{'%'};
            margin-left: $sizeValue#{'%'};
        }

        &--margin-vertical-#{$sizeName}\@movil{
            margin-top: $sizeValue#{'px'};
            margin-bottom: $sizeValue#{'px'};
        }

        &--margin-#{$sizeName}\@movil{
            margin-right: $sizeValue#{'%'};
            margin-left: $sizeValue#{'%'};
            margin-top: $sizeValue#{'px'};
            margin-bottom: $sizeValue#{'px'};
        }

    }
}