$debug: false;

// $font : 'Roboto', sans-serif;
$font : 'Lato', sans-serif;

// Colores del menu lateral
$sidebar-color: white;
$sidebar-background: #4D5158;
$menu-color: #FAFAFA;
$color-destacado: #26BDE8;
$footer: #D6D6D6;
$detalles: #E65F32;
$texto: #666666;
$texto-hover: #dddddd;