.l-page{
    display: grid;

    grid-template-areas: "top top"
                        "left right"
                        "footer footer";

    grid-template-columns: .3fr 1.7fr;

    &__top{
        grid-area: top;
    }

    &__right{
        grid-area: right;
    }

    &__left{
        grid-area: left;
    }

    &__footer{
        grid-area: footer;
    }
}