.l-page{
    display: grid;
    grid-template-areas: "lateral top"
                        "lateral content";
    grid-template-columns: .3fr 1.7fr;

    &__top{
    grid-area: top;
    }

    &__lateral{
    grid-area: lateral;
    }

    &__content{
    grid-area: content;
    }

}