.c-list{
    font-family: $font;
    padding: 30px;
    &--border-right{
        border-right: 1px solid black;
    }
    &--margin-top{
        margin-top: 25px;
    }
    &__title{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    &__option{
        line-height: 25px;
    }
}