.c-sidebar {
    background-color: $menu-color;
    color: $sidebar-color;
    height: 100%; //REVIEW no hace nada por como está ahora mismo el grid de l-page. Revisar cuando suban sus cambios.

    &__item{
        width: 100%;
        padding: 20px 30px;
        color: $texto;
        border-bottom: 1px solid $texto;

        &:hover {
            cursor: pointer;
            background-color: $texto-hover;
        }       
    }

    &__header {
        
        margin-left: 15px;
    }
}