.c-menu{
    @include crearPadding();

    background-color: #F3F3F3;
    display: flex;
    flex-flow: row;

    &__option {
        padding: 20px;
        height: 100%;
        color: #666666 !important;
        font-family: $font;
        user-select: none;
        
        &:hover {
            background-color: #dddddd;
            cursor: pointer;
        }

        &--selected {
            background-color: #008CBA;
            color: white !important;

            &:hover {
                background-color: lighten(#008CBA, 10%);
            }
        }

        &--right {
            margin-left: auto;
        }
    }

    &__icon {
        margin-right: 5px;
    }
}
