.c-menu{
    @include crearPadding();

    background-color: $menu-color;
    display: flex;
    flex-flow: row;

    &__option {
        padding: 20px;
        height: 100%;
        color: $texto !important;
        font-family: $font;
        user-select: none;
        
        &:hover {
            background-color: $texto-hover;
            cursor: pointer;
        }

        &--selected {
            background-color: $color-destacado;
            color: white !important;

            &:hover {
                background-color: lighten($color-destacado, 10%);
            }
        }

        &--right {
            margin-left: auto;
        }
    }

    &__icon {
        margin-right: 5px;
    }
}
